doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Payment gateway API docs
    // Bootstrap CSS CDN
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.css" rel="stylesheet")
    // Our Custom CSS
    link(rel="stylesheet" href="css/main.css")
    // Font Awesome JS
    script(defer="" src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous")
    script(defer="" src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous")
  body
    .wrapper
      // Sidebar
      nav#sidebar
        .sidebar-header
          h3 Payment API
        ul.list-unstyled.components          
          each service in services
            p= service.name
            each method in service.methods
              li
                a.dropdown-toggle(href= "#"+service.name+"-"+method.name data-toggle="collapse" aria-expanded="false")= method.name
                ul.collapse.list-unstyled(id=service.name+"-"+method.name)
                    each block, index in method.blocks
                      li
                        a(href="#" + service.name + "-"+method.name+"-"+index)= block.title
            .line                
              
      // Page Content
      #content
      
        each service in services
            a(name= service.name)
            h2= service.name
            .line
            each method in service.methods
                a(name= service.name + "-" + method.name)
                h3= method.name
                each block, index in method.blocks
                    a(name= service.name + "-" + method.name + "-" + index)
                    h4= block.title
                    p
                      each comment in block.comments
                        = comment
                        br
                    strong Request headers
                    pre
                        code(class="language-js")= block.requestHeaders
                    strong Request body
                    pre
                        code(class="language-js")= block.request 
                    strong Response headers
                    pre
                        code(class="language-js")= block.responseHeaders
                    strong Response body
                    pre
                        code(class="language-js")= block.response                   
            .line
        
        
    // jQuery CDN - Slim version (=without AJAX)
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    // Popper.JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous")
    // Bootstrap JS
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js")
    script(type="text/javascript").
      $(document).ready(function() {
      $("#sidebarCollapse").on("click", function() {
      $("#sidebar").toggleClass("active");
      });
      });
